.container{
    border: 1px solid black;
    margin-top: 8px;
    width: 450px;
    height: auto;
    padding-bottom: 15px;
    justify-content: center;
    padding-left: 190px;
   
}
.btn-primary{
    color: blue;
}

.container.beginner{
    background-color: lightblue;
}

.container.advance{
    background-color: lightcoral;
}

.container.intermideate{
    background-color: lightgray;
}

.course-level .level{
    border: 1px solid black;
    color: white;
    background-color: rgb(154, 111, 111);
    width: fit-content;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

